@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-back: #000000;
  --primary-white: #ffffff;
  --gray-1: #d9d9d9;
  --gray-2: #f4f4f4;
  --gray-3: #7e7e7e;
  --gray-4: #949494;
  --gray-5: #8b8b8b;
  --primary-green: #c7dbdf;
  --special-color: #ff00f5;

  --primary-font: "Inter", sans-serif;
}

/* globals */
html {
  font-family: var(--primary-font);
  color: var(--primary-back);
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-back);
}

main {
  padding: 0 20px;
  min-height: calc(100vh - 190px);
}

.special {
  color: var(--special-color);
}

button {
  cursor: pointer;
}

/*  */

.section-center {
  max-width: 1000px;
  margin: 0 auto;
}

/* HEADER COMPONENT */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-navbar,
.nav-main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-navbar {
  height: 145px;
}
.top-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.625rem;
}
.top-nav-links li {
  cursor: pointer;
}

.nav-main {
  background: var(--gray-1);
  width: 100%;
}

.nav-main-links {
  justify-content: flex-start;
  gap: 3rem;
}

.nav-link.active {
  height: 100%;
  padding: 0.8rem;

  background: var(--primary-back);
  color: var(--primary-white);
}

/* PAGE TITLE COMPONENT */

.page-title {
  margin-top: 65px;
}
.btn-go-back {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
}
.btn-go-back p {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.page-title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* STATS */

.stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
  margin-top: 20px;
}

.single-stat-section {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.stat-section-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 21px;
}
.cards-wrapper {
  display: flex;
}
.cards-wrapper .card-wrapper:nth-child(2) {
  border-left: 1px solid #e2e2e2;
}
/* CARD */

.card-wrapper {
  width: 222px;
}
.card-title {
  text-align: center;
  padding: 0.5rem;
  background: var(--gray-2);

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--gray-3);
}
.card-main {
  padding: 37px 33px 21px 33px;
  text-align: center;
}
.card-center {
  margin-bottom: 36px;
}
.card-center p:first-child {
  font-size: 12px;
  line-height: 15px;
}
.card-center p:last-child {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
.card-details p:first-child {
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: var(--gray-4);
}
.card-details p:last-child {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--gray-5);
  margin-top: 3px;
}

/* Chart */
.chart-section-container {
  max-width: 926px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 21px 0;
  margin-top: 1.0625rem;
}

.chart-option-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-left: 3.5rem;
  margin-bottom: 3.625rem;
}

.chart-option {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  transition: 0.3s all linear;
  padding-bottom: 5px;
  border: none;
  background: transparent;
  position: relative;
  height: 30px;
}
.chart-option.active {
  font-weight: 700;
}
.chart-option.active::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--primary-back);
}

/* Footer */

footer {
  margin-top: 200px;
}

.nav-footer {
  background: var(--primary-back);
}
.nav-footer-links {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.nav-footer-link {
  color: var(--primary-white);
}
.footer-bottom {
  background: var(--primary-green);
}
.footer-content {
  padding: 51px 0 102px 0;
}

.company-information {
  margin-top: 0.8rem;
  padding-left: 5px;
}
.company-information p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 5px 0;
}

.company-information p:last-child {
  margin-top: 40px;
}
