@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-back: #000000;
  --primary-white: #ffffff;
  --gray-1: #d9d9d9;
  --gray-2: #f4f4f4;
  --gray-3: #7e7e7e;
  --gray-4: #949494;
  --gray-5: #8b8b8b;
  --primary-green: #c7dbdf;
  --special-color: #ff00f5;

  --primary-font: "Inter", sans-serif;
}

/* globals */
html {
  font-family: var(--primary-font);
  color: var(--primary-back);
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-back);
}

main {
  padding: 0 20px;
  min-height: calc(100vh - 190px);
}

.special {
  color: var(--special-color);
}

button {
  cursor: pointer;
}

/*  */

.section-center {
  max-width: 1000px;
  margin: 0 auto;
}
